django
django-environ
django-jinja
django-magiclink
google-cloud-secret-manager
psycopg2-binary
notifications-python-client
langchain==0.0.263
pydantic
google-cloud-aiplatform
Markdown
pgvector
google-cloud-storage
django-storages[google]
transformers
pypdf
