<div class="modal modal-lg fade"
     id="settings-modal"
     tabindex="-1"
     aria-labelledby="settings-label"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="settings-label">
          <i class="bi bi-gear pe-1"></i>
          <span>Chat settings</span>
        </h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form hx-post="{{ url("chat_settings") }}" hx-swap="none">
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              {{ settings_form.system_prompt.label_tag() }}
              <div class="mt-3">
                <button type="button"
                        class="btn btn-outline-secondary btn-sm"
                        id="reset_prompt">
                  <i class="bi bi-arrow-counterclockwise pe-1"></i>
                  <span>Reset to default</span>
                </button>
              </div>
            </div>
            <div class="col">{{ settings_form.system_prompt }}</div>
          </div>
          {# Show advanced settings toggle #}
          <button class="btn btn-link p-0 my-3"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#advanced-settings"
                  aria-expanded="false"
                  aria-controls="advanced-settings">
            <span>Advanced settings</span>
            <i class="bi bi-chevron-down"></i>
          </button>
          {# Advanced settings #}
          <div id="advanced-settings" class="collapse">
            <div class="row mb-3">
              <div class="col-4">{{ settings_form.model_name.label_tag() }}</div>
              <div class="col">{{ settings_form.model_name }}</div>
            </div>
            <p class="text-muted">
              See <a href="https://cloud.google.com/vertex-ai/docs/generative-ai/learn/models#foundation_models" target="blank">Google Cloud documentation</a> for model details. Generally, you should use "chat-bison".
            </p>
            {# Max tokens number text input #}
            <div class="row">
              <div class="col-4">
                {{ settings_form.max_output_tokens.label_tag() }}
                {# <div class="text-secondary">Default 1024</div> #}
              </div>
              <div class="col-4">{{ settings_form.max_output_tokens }}</div>
            </div>
            <p class="text-muted">
              Limits tokens in response (3 tokens ~= 1 word). Max 1024 except for code models (2048).
            </p>
            {# Temperature range slider #}
            <div class="row my-3">
              <div class="col-4">
                {{ settings_form.temperature.label_tag() }}
                {# <div class="text-secondary">Default 0 (more accurate)</div> #}
              </div>
              <div class="col">
                <div>{{ settings_form.temperature }}</div>
              </div>
            </div>
            <p class="text-muted">
              Higher temperatures make the model more creative. Set to zero for more accurate results.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
  (function() {
    const reset_prompt_btn = document.getElementById('reset_prompt');
    const system_prompt = document.getElementById('id_system_prompt');
    reset_prompt_btn.addEventListener('click', function() {
      system_prompt.value = "{{ default_system_prompt|escapejs }}";
    });
  })();
  </script>
