<div id="sidebar" class="border-end p-3 overflow-auto">
  <div>
    <div class="offcanvas-body">
      <a class="btn btn-outline-dark w-100 text-start"
         href="{{ url("index") }}">
        {# Bootstrap + icon #}
        <i class="bi bi-plus-square me-2"></i>
        New chat
      </a>
      {# Bootstrap unstyled list #}
      <ul class="list-unstyled mt-3 mb-0" id="chat-list">
        {# Placeholder for new chat title, once 3 messages are received #}
        <li id="new-chat-title" style="display:none"></li>
        {% for chat in user_chats %}
          {% set current = chat_id == chat.id %}
          <li class="mb-1{% if current %} current fw-500{% endif %}">
            <a href="{{ url('chat', chat.id) }}"
               class="text-dark text-decoration-none d-block w-100 border-bottom py-2">
              <i class="bi bi-chat-left me-2"></i>
              {{ chat.title }}
              {# <span class="d-block text-muted small text-end">{{ chat.timestamp.strftime("%Y-%m-%d %H:%M") }}</span> #}
            </a>
            {# HTMX delete button, only visible on hover #}
            <button class="btn btn btn-outline delete-chat"
                    hx-delete="{{ url('delete_chat', chat_id=chat.id, current_chat=current) }}"
                    hx-target="#sidebar li:nth-child({{ loop.index + 1 }})">  {# + 1 because of the first placeholder item #}
              <i class="bi bi-trash"></i>
            </button>
          </li>
        {% endfor %}
      </div>
    </div>
  </div>
