<div class="accordion-item">
  <h2 class="accordion-header" id="document-heading-{{ doc.id }}">
    <button class="accordion-button{% if not new %} collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#document-panel-{{ doc.id }}"
            aria-expanded="{% if new %}true{% else %}false{% endif %}"
            aria-controls="document-panel-{{ doc.id }}">
      <div class="col fw-semibold">{{ doc.file.name }}</div>
      <div class="col-auto text-end me-3">
        <span class="text-muted">{{ doc.uploaded_at.strftime("%Y-%m-%d %H:%M") }}</span>
      </div>
    </button>
  </h2>
  <div id="document-panel-{{ doc.id }}"
       class="accordion-collapse collapse{% if new %} show{% endif %}"
       aria-labelledby="document-heading-{{ doc.id }}">
    <div class="accordion-body">
      <div class="row mb-3">
        <div class="col-2">Summary:</div>
        <div class="col">
          {% if doc.summary != "" %}
            <div class='pre-line'>{{ doc.summary.strip() }}</div>
          {% else %}
            <button class="btn btn-sm btn-outline-secondary"
                    type="button"
                    hx-post="{{ url('summary', doc.id) }}"
                    hx-swap="outerHTML"
                    hx-indicator="#summary-spinner-doc{{ doc.id }}"
                    id="generate-summary-doc{{ doc.id }}">
              Generate summary
            </button>
          {% endif %}
        </div>
        <div class="col-auto">
          {# HTMX spinner icon #}
          <div role="status" class="spinner-border text-primary" id="summary-spinner-doc{{ doc.id }}">
            <span class="visually-hidden">Saving changes</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mb-2">
        <div class="col-2">Embeddings:</div>
        <div class="col">
          {% if doc.mean_embedding is not none %}
            {% include "fragments/embeddings_preview.jinja" %}
          {% else %}
            <button class="btn btn-sm btn-outline-secondary"
                    type="button"
                    hx-post="{{ url('embeddings', doc.id) }}"
                    hx-swap="outerHTML"
                    hx-indicator="#embeddings-spinner-doc{{ doc.id }}"
                    id="generate-embeddings-doc{{ doc.id }}">
              Generate embeddings
            </button>
          {% endif %}
        </div>
        <div class="col-auto">
          {# HTMX spinner icon #}
          <div role="status" class="spinner-border text-primary" id="embeddings-spinner-doc{{ doc.id }}">
            <span class="visually-hidden">Saving changes</span>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-2">Full text:</div>
        <div class="col">
          <button class="btn btn-sm btn-outline-secondary"
                  type="button"
                  hx-post="{{ url('full_text', doc.id) }}"
                  hx-swap="outerHTML"
                  hx-indicator="#fulltext-spinner-doc{{ doc.id }}">
            Show full text
          </button>
        </div>
        <div class="col-auto">
          {# HTMX spinner icon #}
          <div role="status" class="spinner-border text-primary" id="fulltext-spinner-doc{{ doc.id }}">
            <span class="visually-hidden">Saving changes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if new %}
  <script>
    /* Click the buttons to generate the summary and embeddings */
    document.getElementById("generate-summary-doc{{ doc.id }}").click();
    document.getElementById("generate-embeddings-doc{{ doc.id }}").click();
  </script>
{% endif %}
