{# <div class="row">
  <div class="col-3">Document mean:</div>
  <div class="col">
    {{ doc.mean_embedding[:5] }} ...
  </div>
</div>
{% if doc.summary_embedding is not none %}
  <div class="row">
    <div class="col-3">Document summary:</div>
    <div class="col">
      {{ doc.summary_embedding[:5] }} ...
    </div>
  </div>
{% endif %}
{% for chunk in doc.chunks.all().order_by("chunk_number")[:3] %}
<div class="row">
  <div class="col-3">Chunk {{ loop.index }}:</div>
  <div class="col">
    {{ chunk.embedding[:5] }} ...
  </div>
</div>
{% endfor %} #}
<p class="mb-0">{{ doc.chunks.count() }} chunks added to index. This document is now searchable through the Document Q&A.</p>