{% for message in messages %}
  {% include "fragments/single_message.jinja" %}
{% endfor %}
<script>
// Scroll to the bottom of the messages
(function () {
  const messages = document.getElementById("messages-container");
  if (messages) {
    messages.scrollTop = messages.scrollHeight;
  }
  const message_field = document.getElementById('id_message');
  if (message_field) {
    message_field.value = '';
    message_field.focus();
  }
})();
</script>
