{% if message.message != "" %}
  <div class="message-outer" id="message-{{ message.id }}">
    <div class="message-meta text-secondary">
      <span class="message-author me-1">
        {% if message.is_bot %}
          LLM
        {% else %}
          {{ request.user.username.split('@')[0] }}
        {% endif %}
      </span>
      <span class="message-date">
        {{ message.timestamp.strftime("%Y-%m-%d %H:%M") }}
      </span>
    </div>
    <div class="message-blob">
      <div class="message-text">{{ message.message }}</div>
    </div>
  </div>
{% endif %}
