{% extends 'base.jinja' %}
{% block content %}
  <div class="container">
    <h1>Chat with PaLM 2 Large Language Model (LLM)</h1>
    <div id="chat-container">
    <div id="messages-container">{% include 'fragments/messages.jinja' %}</div>
    <div class="add-message-container">
      <form hx-post="{{ request.path }}" hx-swap="none" id="chat-form">
        {{ form.message.label_tag(attrs={"class": "visually-hidden"}) }}
        {{ form.message }}
        <div class="row mt-1 message-send-row">
          <div class="col-auto text-end">
            <button type="submit"
                    class="btn btn-primary btn-sm"
                    id="save-chat"
                    aria-label="Send">
              Send
              <i class="bi bi-send"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
{% endblock content %}
