{% extends 'base.jinja' %}
{% block content %}
  <div id="chat-outer">
    {% include 'fragments/chat_sidebar.jinja' %}
    <div id="chat-container">
      <div class="container">
        {% set messages = chat.message_set.all() %}
        <div id="messages-container" class="mx-1 pt-3">{% include 'fragments/messages.jinja' %}</div>
        <div class="add-message-container">
          <form hx-post="{{ request.path }}"
                hx-swap="beforeend"
                hx-target="#messages-container"
                id="chat-form">
            <div class="row mx-0">
              {{ form.message.label_tag(attrs={"class": "visually-hidden"}) }}
              <div class="col px-1">
                <div class="input-group" id="chat-inputs">
                  {{ form.message }}
                  <button id="send-button"
                          class="btn btn-outline-secondary"
                          type="submit"
                          aria-label="Send">
                    <i class="bi bi-send"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    /* Ctrl+Enter to submit */
    document.addEventListener('keydown', function (event) {
      if (event.ctrlKey && event.key === 'Enter') {
        document.getElementById('send-button').click();
      }
    });
    document.getElementById('id_message').focus();
  </script>
  <style>
  #top-nav .container {
    max-width: 100%;
  }
  </style>
{% endblock content %}
