{% extends 'base.jinja' %}
{% block content %}
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <h2 class="h3 mb-3">Document Q&A</h2>
      </div>
      <div class="col-auto">
        <div role="status" class="spinner-border text-primary" id="qa-spinner">
          <span class="visually-hidden">Searching</span>
        </div>
      </div>
    </div>
    <form hx-get="{{ url("qa_embeddings") }}"
          hx-indicator="#qa-spinner"
          hx-swap="innerHTML"
          hx-target="#qa-results">
      <div class="row">
        <div class="col">{{ qa_form.query }}</div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Ask bot</button>
        </div>
      </div>
    </form>
    <div id="qa-results" class="mt-3"></div>
    <hr>
    <div class="row">
      <div class="col">
        <h1 class="h3 mb-3">Upload documents (PDF or plain text only)</h1>
      </div>
      <div class="col-auto">
        {# HTMX spinner icon #}
        <div role="status" class="spinner-border text-primary" id="upload-spinner">
          <span class="visually-hidden">Saving changes</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-muted">
          Upload a document for question answering.
          {% if branding.docs_warning %}<em>{{ branding.docs_warning }}</em>{% endif %}
        </p>
      </div>
    </div>
    <form hx-post="{{ request.path }}"
          hx-indicator="#upload-spinner"
          enctype="multipart/form-data"
          hx-swap="afterbegin"
          hx-target="#my-documents">
      <div class="row">
        <div class="col">{{ upload_form.file }}</div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </form>
    {# <hr> #}
    {# <h2 class="h3 mb-3">My documents</h2> #}
    <div class="accordion mt-3" id="my-documents">
      {% for doc in documents %}
        {% include 'fragments/document_row.jinja' %}
      {% endfor %}
    </div>
    {# Show advanced settings toggle #}
    <button class="btn btn-link p-0 my-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#advanced"
            aria-expanded="false"
            aria-controls="advanced">
      <span>Advanced tools</span>
      <i class="bi bi-chevron-down"></i>
    </button>
    {# Advanced settings #}
    <div id="advanced" class="collapse">
      <div class="row">
        <div class="col">
          <h2 class="h3 mb-3">Similarity search</h2>
        </div>
        <div class="col-auto">
          <div role="status" class="spinner-border text-primary" id="query-spinner">
            <span class="visually-hidden">Searching</span>
          </div>
        </div>
      </div>
      <form hx-get="{{ url("query_embeddings") }}"
            hx-indicator="#query-spinner"
            hx-swap="innerHTML"
            hx-target="#query-results">
        <div class="row">
          <div class="col">{{ query_form.query }}</div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
      <div id="query-results" class="mt-3"></div>
    </div>
  </div>
{% endblock content %}
