{% extends 'base.jinja' %}
{% block content %}
  <div class="container py-3">
    <div class="row">
      <div class="col">
        <h1 class="h3 mb-3">Upload documents</h1>
      </div>
      <div class="col-auto">
        {# HTMX spinner icon #}
        <div role="status" class="spinner-border text-primary" id="spinner">
          <span class="visually-hidden">Saving changes</span>
        </div>
      </div>
    </div>
    <form hx-post="{{ request.path }}"
          hx-indicator="#spinner"
          enctype="multipart/form-data"
          hx-swap="afterbegin"
          hx-target="#my-documents">
      <div class="row">
        <div class="col">{{ upload_form.file }}</div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </form>
    <hr>
    <h2 class="h3 mb-3">My documents</h2>
    <div class="accordion" id="my-documents">
      {% for doc in documents %}
        {% include 'fragments/document_row.jinja' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
