{% extends 'base.jinja' %}
{% block title %}<title>Login | LLM Playground</title>{% endblock %}
{% block content %}
  <div class="container p-0 d-flex justify-content-center"
       id="login-container">
    <div class="col-md-6 col-sm-12">
      <div class="alert alert-success fade show">
        <div>A login link has been sent to your email address.</div>
        <div class="mt-2">Click the link to login automatically.</div>
      </div>
    </div>
  </div>
{% endblock content %}
